*{
    margin:0;
    scroll-behavior: smooth;
}
#helloworld{
    background-image: linear-gradient(to right, white 70%, rgb(216, 203, 203) 30%);
    height: 112vh;
    position: relative;
    margin-bottom: 10vw;
    overflow: hidden;
}
nav{
    margin-bottom: 6vh;   
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sociallinks{
    display: flex;
    margin: 0 2vh 0 0;
    gap:4vw;
    height: 5vw;
}
.sociallinks img{
    height: 100%;
    width: auto;
}
.menu{
    position: absolute;
    display:none;
    flex-direction: column;
    padding-left: 2vh;
    padding-right: 2vh;
    height: 20vw;
    top: 8vh;
    background-color: white;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.menu-toggle{
    max-width: 10vw;
    width: 100%;
    margin: 2vh;

}
.menu-toggle img{
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;

}
.menu.active{
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
    justify-content: space-around;
    list-style: none;
}
header {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 2vh;
    justify-content: center;
}
header h1{
    margin-bottom: 3vh;
    font-size: 5vh;
}
figure{
    overflow: hidden;
    max-width: 100%;
    width: 65vw;
    height: auto;
    aspect-ratio: 1 / 1.5;
    margin: 5vh 8vw auto auto;
}
figure img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 1vw 1vw 1vw rgb(190, 188, 188);
    border-radius: 0.2vw;
}
#text h1{
    font-size: 1.5rem;
}
#text p{
    display: none;
}
#keyinterests{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130vh;
    margin-bottom: 10vw;
}
#interestbox{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 6vw;
}
.interest{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 14vh;
    border-radius: 2vw;
    border: 0.5vw solid black;
    box-shadow: 0.6vw 0.6vw 0 0 rgb(181, 180, 180);
    background-color: grey;
}
.interest h3{
    margin: auto;
    margin-bottom: 0;

}
.interest p{
    margin:auto;
    margin-top: 1.5vw;
    width: 90%;
}
main{
    background-color: rgb(216, 203, 203);
    padding-bottom: 10vw;
}
#aboutme{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5vw;
    background-color:rgb(216, 203, 203) ;
}
#aboutme p{
    width: 80%;
    margin: 0 auto;
}
#aboutme h2{
    margin: 4vw auto;
}
#carousel{
    display: flex;
    gap: 12px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
}
#carousel img {
  width: 80%;
  flex-shrink: 0;
  scroll-snap-align: center;
  border-radius: 10px;
}

footer{
    display: flex;
    justify-content: center;
    background-color: white ;
}

@media screen and (min-width:600px){
#helloworld{
    height: 120vh;
}
.sociallinks{
    height: 4vw;
}
.sociallinks img{
    height: 100%;
    width: auto;
}
figure{
    width: 55vw;
    height: auto;
    aspect-ratio: 1 / 1.2;
    margin: 5vh 8vw auto auto;
}
figure img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 1vw 1vw 1vw rgb(190, 188, 188);
    border-radius: 0.2vw;
}
}

#carousel{
    display: flex;
    gap: 12px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 10px;
    height:60%;
    aspect-ratio: 1/1;
}
#carousel img {
  display: block;
  width: 80%;
  object-fit: cover;
  height: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
  border-radius: 10px;
}
@media screen and (min-width:1024px){
#helloworld{
    height: 110vh;
}
.menu-toggle{
    display: none;
}
.menu{
    display: flex;
    flex-direction: row;
    position: static;
    height: 3vw;
    width: 40%;
    list-style: none;
    justify-content: space-around;
}
.menu li{
    margin-top: 3%;
}
menu li a{
    font-family: 'Courier New', Courier, monospace;
}
.topbar{
    background-color: white;
}
.sociallinks{
    height: 2vw;
    width: 32%;
    justify-content: right;
    gap: 2vw;
}
.sociallinks a{
    margin-top: 1%;
}
.presentation{
    display: flex;
    align-items: flex-start;
}
figure{
    border-radius: 10%;
    aspect-ratio: auto;
    width: 30vw;
    margin-top: 8%;
    margin-right: 10vw;
}
header{
    margin: 20vh auto auto 10vw;
}
header p{
    max-width: 30vw;
}
#text{
    width: 30%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}
#text h1{
    font-size: 3rem;
}
#text p{
    display: block;
    font-size: 1.5rem;
}
#keyinterests{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    height: 80vh;
    margin-bottom: 10vw;
}
#interestbox{
    height:30%;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    max-width: 60vw;
    align-items: center;
    margin-top: 6vw;
}
.interest{
    height: 12vw;
    width: 15VW;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vw;
    border: 0.2vw solid black;
    box-shadow: 0.3vw 0.3vw 0 0 rgb(181, 180, 180);
    background-color: grey;
}
.interest p{
    display: none;
}
.interest h3{
    margin: 0;
}
}