:root{
    --primary: #633724;
    --primarydark: #39190B;
    --secondary: #B89180;
    --secondarydark: #8E5F4B;
    --accent: #331001;
    --light: #E3DAD6;
}

*{
    margin:0%;
}
body{
    margin: 0%;
}
nav{
    margin-bottom: 6vh;   
}
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
aside{
    margin: 0 5vh 0 0;
}
.menu{
    display:none;
    flex-direction: column;
    background-color: white;
    padding-left: 2vh;
    padding-right: 2vh;
    height: 20vw;
}
.menu-toggle{
    max-width: 10vw;
    width: 100%;
    margin: 2vh;

}
.menu-toggle img{
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer;

}
.menu.active{
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    margin-left: 2vh;
    justify-content: space-around;
    list-style: none;
}
header {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 2vh;
    justify-content: center;
}
header h1{
    margin-bottom: 3vh;
}